In [1]:
import numpy as np
import pandas as pd

In [2]:
train_df = pd.read_csv('./data/train.csv')
test_df = pd.read_csv('./data/test.csv')
sample_df = pd.read_csv('./data/sample_submission.csv')
train_df

          ID                                             review  sentiment
0      41411  I watched this film because I'm a big fan of R...          0
1      37586  It does not seem that this movie managed to pl...          1
2       6017        Enough is not a bad movie , just mediocre .          0
3      44656  my friend and i rented this one a few nights a...          0
4      38711  Just about everything in this movie is wrong, ...          0
...      ...                                                ...        ...
29336   8019  It 's one of the most honest films ever made a...          1
29337    453  An absorbing and unsettling psychological drama .          1
29338  13097  Soylent Green IS...a really good movie, actual...          1
29339  26896  There just isn't enough here. There a few funn...          0
29340  27094  This show was absolutely terrible. For one Geo...          0

[29341 rows x 3 columns]

In [3]:
test_df

          ID                                             review
0      22622  Robert Lansing plays a scientist experimenting...
1      10162  Well I've enjoy this movie, even though someti...
2      17468  First things first - though I believe Joel Sch...
3      42579  I watched this movie on the grounds that Amber...
4        701  A certain sexiness underlines even the dullest...
...      ...                                                ...
29336  30370  It is difficult to rate a writer/director's fi...
29337  18654  After watching this movie once, it quickly bec...
29338  47985  Even though i sat and watched the whole thing,...
29339   9866  Warning Spoilers following. Superb recreation ...
29340  35559  My, my, my: Peter Cushing and Donald Pleasance...

[29341 rows x 2 columns]

In [4]:
sample_df

          ID  sentiment
0      22622          1
1      10162          1
2      17468          1
3      42579          1
4        701          1
...      ...        ...
29336  30370          1
29337  18654          1
29338  47985          1
29339   9866          1
29340  35559          1

[29341 rows x 2 columns]