In [1]:
import numpy as np
import pandas as pd

In [2]:
train_df = pd.read_csv('./data/train.csv')
test_df = pd.read_csv('./data/test.csv')
sample_df = pd.read_csv('./data/sample_submission.csv')

          ID                                             review  sentiment
0      41411  I watched this film because I'm a big fan of R...          0
1      37586  It does not seem that this movie managed to pl...          1
2       6017        Enough is not a bad movie , just mediocre .          0
3      44656  my friend and i rented this one a few nights a...          0
4      38711  Just about everything in this movie is wrong, ...          0
...      ...                                                ...        ...
29336   8019  It 's one of the most honest films ever made a...          1
29337    453  An absorbing and unsettling psychological drama .          1
29338  13097  Soylent Green IS...a really good movie, actual...          1
29339  26896  There just isn't enough here. There a few funn...          0
29340  27094  This show was absolutely terrible. For one Geo...          0

[29341 rows x 3 columns]

In [3]:
train_df

          ID                                             review  sentiment
0      41411  I watched this film because I'm a big fan of R...          0
1      37586  It does not seem that this movie managed to pl...          1
2       6017        Enough is not a bad movie , just mediocre .          0
3      44656  my friend and i rented this one a few nights a...          0
4      38711  Just about everything in this movie is wrong, ...          0
...      ...                                                ...        ...
29336   8019  It 's one of the most honest films ever made a...          1
29337    453  An absorbing and unsettling psychological drama .          1
29338  13097  Soylent Green IS...a really good movie, actual...          1
29339  26896  There just isn't enough here. There a few funn...          0
29340  27094  This show was absolutely terrible. For one Geo...          0

[29341 rows x 3 columns]

In [4]:
train_df.describe()

                 ID     sentiment
count  29341.000000  29341.000000
mean   29348.411097      0.509662
std    17002.074346      0.499915
min        4.000000      0.000000
25%    14564.000000      0.000000
50%    29348.000000      1.000000
75%    44162.000000      1.000000
max    58681.000000      1.000000

In [5]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29341 entries, 0 to 29340
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         29341 non-null  int64
 1   review     29341 non-null  object
 2   sentiment  29341 non-null  int64
dtypes: int64(2), object(1)
memory usage: 687.8+ KB

In [6]:
test_df

          ID                                             review
0      22622  Robert Lansing plays a scientist experimenting...
1      10162  Well I've enjoy this movie, even though someti...
2      17468  First things first - though I believe Joel Sch...
3      42579  I watched this movie on the grounds that Amber...
4        701  A certain sexiness underlines even the dullest...
...      ...                                                ...
29336  30370  It is difficult to rate a writer/director's fi...
29337  18654  After watching this movie once, it quickly bec...
29338  47985  Even though i sat and watched the whole thing,...
29339   9866  Warning Spoilers following. Superb recreation ...
29340  35559  My, my, my: Peter Cushing and Donald Pleasance...

[29341 rows x 2 columns]

In [7]:
test_df.describe()

                 ID
count  29341.000000
mean   29332.588903
std    16878.341879
min        0.000000
25%    14759.000000
50%    29332.000000
75%    43859.000000
max    58679.000000

In [8]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29341 entries, 0 to 29340
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      29341 non-null  int64
 1   review  29341 non-null  object
dtypes: int64(1), object(1)
memory usage: 458.6+ KB

In [9]:
sample_df

          ID  sentiment
0      22622          1
1      10162          1
2      17468          1
3      42579          1
4        701          1
...      ...        ...
29336  30370          1
29337  18654          1
29338  47985          1
29339   9866          1
29340  35559          1

[29341 rows x 2 columns]